*{
   margin: 0;
   font-family: montserrat;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

button, 
button:active, 
button:focus {
    outline: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
   text-decoration: none;
   color: black;
}

img {
  max-width: 100%;
  display: block;
}

/* / */
.container{
   width: 80%;
   margin: 0 auto;
}
body{
   background-image: url(./images/body-bg2.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
header{
   position: fixed;
   background-image: url(./images/header-bg1.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   /* background-attachment: fixed; */
   width: 100%;
   background-color: rgb(167, 75, 0);
   opacity: .9;
   height: 120px;
   z-index: 9999;
}
.header-inner{
   height: 120px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
}
.logo{
   display: flex;
   align-items: center;
   transition: .5s;
   user-select: none;
}
/* .logo:hover{
   color: orange;
} */
.logo-img{
   width: 80px;
   height: 80px;
}
.title-logo{
   font-size: 30px;
   
}
.nav{
   display: flex;
   text-transform: uppercase;
   align-items: center;
   font-weight: 800;
}
.nav-link{
   font-size: 17px;
   cursor: pointer;
   margin-right: 30px;
   transition: .5s ease;
   color: white;
}
.nav-link:hover{
   color: orange;
}
.number{
   display: flex;
   align-items: center;
}
.number-t{
   color: white;
}
.icon-face{
   width: 35px;
   height: 35px;
   border-radius: 50%;
   border: 2px solid black;
   margin-left: 10px;
}
main{
   position: relative;
   top: 150px;
}
article{
   position: relative;
   top: 50px;
   min-height: 200px;
}
.advantages-title{
   text-align: center;
   /* margin-bottom: 30px; */
}
.advantages{
   width: 100%;
   min-height: 200px;
   border: 1px solid black;
   padding: 30px;
   background-image: url(./images/advantage-bg.jpg);
   background-size: cover;

}
.advantage{
   width: 80%;
   margin: 0 auto;
   min-height: 100px;
   border: 1px solid black;
   padding: 15px;
   text-align: left;
   margin-top: 20px;
}
/* .advantage-list{

} */
.advantage-list-t{
   text-align: left;
   font-weight: bold;
}
.connection{
   background-color: rgb(216, 159, 53);
   background-image: url(./images/article-bg.jpg);
   background-size: cover;
   background-position: center;
   height: 300px;
   position: relative;
   top: 100px;
}
.name{
   position: relative;
   top: 55px;
   text-align: center;
   font-size: 35px;
}
.call{
   text-align: center;
   position: relative;
   top: 25px;
}
.call-number{
   position: relative;
   top: 90px;
   display: block;
   margin: 0 auto;
   background-color: rgb(231, 185, 58) ;
   border: 3px dashed rgb(184, 115, 12);
   padding: 15px 40px;
   font-size: 30px;
   border-radius: 10px;
   cursor: pointer;
   transition: .3s ease;
}
.call-number:hover{
   background-color:rgb(240, 197, 80);   
   border: 3px solid rgb(173, 88, 17);
}
.call-number-link-mobile{
   display: none;
}
.call-number-link-comp{
   transition: .3s ease;
}

.call-number-link-comp:hover{
   color: rgb(173, 88, 17);
   font-size: 35px;
}
/* .tabs__content{

} */
.gallery{
   /* position: relative;
   top: 0px; */
   background-color: rgb(250, 191, 102);
   min-height: 100px;
}
.gallery-title{
   text-align: center;
   position: relative;
   margin: 10px;
   text-transform: uppercase;
}

 /* табы */

.tabs {
   background-image: url(./images/article-bg.jpg);
   background-size: cover;
   background-position: center;
   background-color: rgb(241, 201, 90);
   position: relative;
   top: 150px;
   max-width: 100%;
   border: 6px ridge rgb(134, 72, 0);
   min-height: 200px;
}
.tabs__nav {
   display: flex;
   flex-wrap: wrap;
   list-style-type: none;
   background: #f8d269;
   margin: 0;

}
.tabs__link {
   padding: 0.5rem 0.75rem;
   text-decoration: none;
   color: black;
   text-align: center;
   flex-shrink: 0;
   flex-grow: 1;
   transition: .3s linear;
}
.tabs__link_active {
   background: rgba(255, 238, 0, 0.3);
   cursor: default;
   border-bottom: 5px solid rgb(255, 187, 0);
   font-size: 1.2rem;
}
.tabs__link:not(.tabs__link_active):hover,
.tabs__link:not(.tabs__link_active):focus {
   background-color: #ffa600a2;
}
.tabs__content {
   padding: 1rem;
}
.tabs__pane {
   display: none;
}
.tabs__pane_show {
   display: block;
}

/*  */
.products{
   width: 100%;
   min-height: 200px;
   padding: 0 20px;
}
.products-h{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-wrap: wrap;
}
.product-h{
   width: 420px;
   height: 500px;
   margin: 15px 10px;
   border: 6px ridge rgb(134, 72, 0);
}
.product-w{
   width: 500px;
   height: 330px;
   margin: 15px auto;
   border: 6px ridge rgb(134, 72, 0);
}
.product-h-img{
   width: 100%;
   height: 100%;
}
.products-w{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   position: relative;
   flex-wrap: wrap;
   top: 10px;
}
.product-w-img{
   width: 100%;
   height: 100%;
}
footer{
   width: 100%;
   min-height: 200px;
   background-image: url(./images/footer-bg3.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   /* background-attachment: fixed; */
   position: relative;
   top: 350px;
   border: 3px solid rgb(85, 45, 0);
   padding: 15px;
}
.footer-title{
   text-align: center;
   font-size: 30px;
   margin-bottom: 40px;
}
.footer-nav{
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.footer-link{
   display: flex;
   align-items: center;
}
.footer-link li:last-child{
   margin-right: 0;
}
.footer-link img{
   width: 25px;
   height: 25px;
   margin-right: 5px;
}
.footer-link a{
   font-weight: 500;
   text-transform: uppercase;

}

 /*  */


.up-button{
   position: fixed;
   right: 3%;
   bottom: 3%;
   width: 100px;
   height: 100px;
   background-color: rgb(90, 44, 0);
   background-image: url(./images/up-button-bg.jpg);
   border-radius: 50%;
   /* display: flex;
   justify-content: center;
   align-items: center; */
}

.up-button-icon{
   width: 60px;
   height: 60px;
   border-radius: 50%;
   color:black;
   display: block;
   margin: 13px;
   margin-top: 15px;

}

/*       */

.openbtn{
   display: none;
}
.sidebar{
   display: none;
}

 /*  */



@media (max-width: 1400px) {
   .container{
      width: 85%;
   }
   .products{
   padding: 20px 0;
   }
   .product-h{
      width: 225px;
      height: 300px;
      margin: 10px;
   }
   .product-w{
      width: 300px;
      height: 200px;
      margin: 10px;
   }
   .footer-link{
      margin-right: 25px;
   }
}
@media (max-width: 900px) {
   .container{
      width: 90%;
   }
   .tabs{
      top: 120px;
   }
   .tabs__content {
    padding: 0rem;
   }
   header{
      position: absolute;
      height: 150px;
   }
   .logo{
      display: block;
      margin: 20px auto;
   }
   .logo-img{
      display: block;
      margin: 15px auto;
      position: relative;
      top: 15px;
   }
   .advantage{
      width: 100%;
   }
   .call{
      top: 27px;
      font-size: 26px;
   }
   .name{
      top: 28px;
      font-size: 40px;
   }
   .call-number{
      top: 60px;
      padding: 20px 20px;
   }
   .call-number:hover{
      padding:30px 5px;
      font-size: 32px;
   }
   .connection{
      position: relative;
      top: 80px;
      height: 300px;
   }
   .nav{
      display: none;
   }
   .call-number-link-comp{
      display: none;
   }
   .call-number-link-mobile{
      display: block;
   transition: .3s ease;
   }
   .call-number-link-mobile:hover{
      color: rgb(173, 88, 17);
      font-size: 35px;
   }
   .openbtn {
      display: block;
       font-size: 20px;
       cursor: pointer;
       background-color: #111;
      color: white;
       padding: 15px 20px;
      border: none;
      border-radius:30%;
      position: fixed;
       top: 1%;
       left: 3%;
       z-index: 99999999;
   }
   .openbtn:hover {
      background-color: #444;
   }

   #main {
      transition: .5s;
      padding: 16px;
   }
   .sidebar {
   display: block;
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 99999;
   top: 0;
   left: 0;
   background-color: #111;
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 60px;
   }
   .links{
      margin: 20px;
      color: #818181;
      padding: 8px 8px 8px 32px;
      font-size: 25px;
      transition: 0.3s;
      user-select: none;
   }

   .links:hover {
      color: #f1f1f1;
   }

   .sidebar .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
   }
   .closebtn{
      color: white;
   }
   footer{
      top: 310px;
   }
   .footer-title{
      margin-bottom: 0;
   }
   .footer-nav{
      flex-direction: column;
      margin-top: 50px;
   }
   .footer-link{
      margin-top: 20px;
   }
}
/* На небольших экранах, где высота меньше 450px, измените стиль sidenav (меньше отступов и меньший размер шрифта) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}